label {
  border: 1px solid #fff;
  padding: 0;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -15px;
  right: -10px;
  width: 20px;
  height: 20px;
  text-align: center;
  /* line-height: 28px; */
  transition-duration: 0.4s;
  transform: scale(0);
}

:checked+label::before {
  content: "✓";
  background-color: lightblue;
  transform: scale(1);
}

/* :checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
} */


/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

